catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/test_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/test/events.out.tfevents
__pycache__/apriori.cpython-37.pyc
data_dynamic/configs_cache.json
mimic-iv-2.2.zip
mimic-iv/
documents/
*.pyc
*.png
*.txt
